.badge{
    background-color: #614ea6;
}

.accordion-button{
    background-color: #F3F3F3;
}

.accordion-button:not(.collapsed){
    background-color: #b9c7f1;
}

.userContent{
    max-width: 1920px;
}

.userNotContent{
    max-width: 1920px;
}

.img-Modal{
    object-fit: contain;
    max-height: 800px;
}

.buttons .btn{
    margin: 2px;
}

.btn-comida{
    background-color: #3E41BB !important; 
}

.btn-emergencias{
    background-color: #ff7676 !important;
    color: #652525
    !important;
}

.btn-outros{
    background-color: #4094C1 !important; 
}

.btn-limpar{
    background-color: #e9e900 !important;
    color: rgb(92, 92, 92) !important;
}

.btn-selected{
    transition: transform .3s;
    transform: scale(1.05);
}